
* {
  font-family: Montserrat, sans-serif;
  text-align: center;
  align: middle;

}


ul {
  padding: 0;
  margin: 0;
  margin: auto;
}

body div div {
  
}

#App {
  position: relative;
  width: 100%;
  height: 100%;
}

.Fact{
  width: 80%;
  margin: auto;
  height: 10%;
  display: block;
  padding: 1%;

}

#FactList {
  width: 100%;
  height: 70%;
  top: 30%;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  background-color: #f3ffff;
}



#Information {
  width: 100%;
  height: 30%;

}

#Slider {
  width: 90%;
  height: 30%;
  display: inline-flex;
  position: relative;
  margin: auto;
  flex-wrap: nowrap;
  justify-content: center;
}


.yearDisplay {
  flex-grow: 1;
  text-align: center;
  display: inline-block;
}

.yearDisplay h2{

}

#yearSliderDIV{
  flex-grow: 10;
  display: inline-block;

}


#yearSlider{
  width: 100%;  
  height: 100%;
}


#Change {
  width: 10%;
  height: 15%;
  top: 0%;
  right: 0;
  z-index: 100;
  position: absolute;
  display: inline-flex;
  text-align: right;
}

#Sentence {
  width: 50%;
  height: 20%;
  display: block;
  margin: auto;
}

#Sentence h2 {
  margin: 1.5%;
}

