
* {
  text-align: center;
  align: middle;
  font-family:  Montserrat, sans-serif;

}

h1{
  font-size: 40px;
  font-family: "Amatic SC", cursive;
}

h2 {
  font-size: 30px;
  font-family: "Amatic SC", cursive;
  margin: 0;
  padding-top: 12%;
}


ul {
  padding: 0;
  margin: 0;
  margin: auto;
  width: 100%;
}

body div div {
  
}

#App {
  position: relative;
  width: 100%;
  height: 100%;
}

.Fact{
  width: 80%;
  margin: auto;
  /*height: 10%;*/
  display: block;
  padding: 10pt;
  font-family: Montserrat, sans-serif;
  clear: both;

}

#FactList {
  width: 100%;
  /*height: 70%;*/
  /*top: 30%;*/
  /*position: absolute;*/
  display: flex;
  flex-wrap: wrap;
  background-color: #00FDC8;
  border-radius: 10pt;
  box-shadow: 0 0 7pt grey;
}

#Information {
  width: 100%;
  /*height: 30%;*/
  padding-bottom: 10pt;

}

#Slider {
  width: 90%;
  height: 30%;
  display: inline-flex;
  position: relative;
  margin: auto;
  flex-wrap: nowrap;
  justify-content: center;
}


.yearDisplay {
  flex-grow: 1;
  text-align: center;
  display: inline-block;
  margin: 0;
}

.yearDisplay h2{

}

#yearSliderDIV{
  flex-grow: 10;
  display: inline-block;

}


#yearSlider{
  width: 100%;  
  height: 100%;
  margin: 0;
}


#Change {
  width: 10%;
  height: 15%;
  top: 0%;
  right: 7pt;
  z-index: 100;
  position: absolute;
  display: inline-flex;
  text-align: right;
}

input[type=submit] {
    padding:3pt 10pt; 
    background: #00FDC8;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    box-shadow: 0 0 7pt grey;
}

input[type=text] {
    padding:1pt 1pt; 
    border:1pt solid #00FDC8;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    box-shadow: 0 0 7pt grey;
    margin-bottom: 1pt;
}


#MoreEvents {
  background-color: white;
  margin: 10pt auto;
  width: 60pt;
  border-radius: 10pt;
  box-shadow: 0 0 7pt grey;
  cursor:pointer;
  padding: 5pt;
}
#MoreEvents:hover span{
  display: none
}
#MoreEvents:hover:before{
  content: "See 20 random events from this year";
}

#Sentence {
  width: 50%;
  height: 20%;
  display: block;
  margin: auto;
}

#Sentence h2{
  padding: 0;
}

/*COPIED SLIDER STYLING BELOW*/
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 11.8px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1.3px 1.3px 1px rgba(0, 0, 0, 0.18), 0px 0px 1.3px rgba(13, 13, 13, 0.18);
  background: #00e4af;
  border-radius: 1.3px;
  border: 0px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 2.5px 2.5px 6.2px rgba(0, 0, 0, 0.26), 0px 0px 2.5px rgba(13, 13, 13, 0.26);
  border: 0px solid rgba(36, 176, 122, 0);
  height: 32px;
  width: 15px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.83);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -11.8px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #00fec3;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1.3px 1.3px 1px rgba(0, 0, 0, 0.18), 0px 0px 1.3px rgba(13, 13, 13, 0.18);
  background: #00e4af;
  border-radius: 1.3px;
  border: 0px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 2.5px 2.5px 6.2px rgba(0, 0, 0, 0.26), 0px 0px 2.5px rgba(13, 13, 13, 0.26);
  border: 0px solid rgba(36, 176, 122, 0);
  height: 32px;
  width: 15px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.83);
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #00cb9b;
  border: 0px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1.3px 1.3px 1px rgba(0, 0, 0, 0.18), 0px 0px 1.3px rgba(13, 13, 13, 0.18);
}
input[type=range]::-ms-fill-upper {
  background: #00e4af;
  border: 0px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1.3px 1.3px 1px rgba(0, 0, 0, 0.18), 0px 0px 1.3px rgba(13, 13, 13, 0.18);
}
input[type=range]::-ms-thumb {
  box-shadow: 2.5px 2.5px 6.2px rgba(0, 0, 0, 0.26), 0px 0px 2.5px rgba(13, 13, 13, 0.26);
  border: 0px solid rgba(36, 176, 122, 0);
  height: 32px;
  width: 15px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.83);
  cursor: pointer;
  height: 8.4px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #00e4af;
}
input[type=range]:focus::-ms-fill-upper {
  background: #00fec3;
}





